body {
  background-color: #DEDBD1;
}

.article-title-image img {
  width: 100%;
}

.article-text {
  margin-top: 33.5px;
}
.article-text-small {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: -0.26px;
  margin-top: 14.8px;
}
.article-lead-image {
  margin-top: 83.5px;
}
.article-subtitle-text {
  letter-spacing: -0.34px;
  line-height: 23px;
  margin-top: 16.7px;
}
.article-text-with-subtitle {
  padding-top: 10.5px;
  line-height: 28px;
}
