body {
  background-color: #DEDBD1;
}
.article-image {
  margin-top: 8.22px;
}
.small-disclaimer {
  text-align: left;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.2px;
  width: 75%;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
}
.white-background {
  background-image: url("../images/white_bg_shape.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
.brown-background {
  background-image: url("../images/brown_bg_shape.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
.article-text {
  margin-top: 24.5px;
  width: 75%;
  font-size: 15px;
  letter-spacing: -0.3px;
  line-height: 28px;
}

@media (max-width: 767px) {
  .article-container-wrapper {
    margin-top: 72px;
  }
}
@media (min-width: 768px) {
  .article-left-container-pc {
    width: 100%;
    max-width: 300px;
    right: 58%;
  }
  .article-container {
    margin-right: 0;
    margin-left: auto;
    width: 60%;
    max-width: 500px;
  }
}

