body {
  background-color: #DEDBD1;
}

.article-title-image img {
  width: 68.5%;
}

.article-lead-text-container {
  margin-top: 61.53px;
}

.article-text {
  margin-top: 13.5px;
}

.article-image {
  margin-top: 13.5px;
}

.article-image-sectionlead {
  margin-top: 88.5px;
}

.article-subtitle-text {
  margin-top: 83px;
}

.article-text-with-subtitle {
  padding-top: 10px;
}

.article-profile-text a {
  color: inherit;
  text-decoration: none;
}