body {
  background-color: #DEDBD1;
}

.article-title-image img {
  width: 61.33%;
}

.article-lead-text-container {
  margin-top: 60.53px;
}

.article-left-container-pc .article-title-image {
  padding-top: 20px;
}
.article-left-container-pc .article-image-insta {
  padding-top: 20px;
}
.article-left-container-pc .article-profile-text {
  margin-top: 50px;
}
.article-left-container-pc .interview-catal-design {
  padding-top: 20px;
}
