.top-article-cover-image {
  overflow: hidden;
  margin: 0 auto;
}
.top-article-item img {
  transition: transform 0.75s;
}
.top-article-item:hover .top-article-cover-image img {
  transform: scale(1.05);
  opacity: 0.7;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: transform 1s, visibility 0s 1s, opacity 1s ease-out;
}
.hidden a {
   pointer-events: none;
   cursor: default;  
}
.reveal_tran_tb {
  opacity: 0;
  transform: translate(0, -4vw);
}
.reveal_tran_bt {
  opacity: 0;
  transform: translate(0, 4vw);
}
.reveal_tran_rl {
  opacity: 0;
  transform: translate(4vw, 0);
}
.reveal_tran_lr {
  opacity: 0;
  transform: translate(-4vw, 0);
}

.reveal_tran_tb.active,
.reveal_tran_bt.active,
.reveal_tran_rl.active,
.reveal_tran_lr.active {
  transition:
    transform 750ms ease-in-out 100ms,
    opacity 750ms ease-in-out 100ms;
  opacity: 1;
  transform: translate(0, 0);
}
