.top-article-cover-image {
  overflow: hidden;
  margin: 0 auto;
}
.top-article-item img {
  transition: transform 0.75s;
}
.top-article-item:hover .top-article-cover-image img {
  transform: scale(1.05);
  opacity: 0.7;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s ease-out;
}

.reveal {
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-top {
  animation: fade-top 1.5s ease-out;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-top {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) opacity 2s;
    opacity: 1;
  }
}
@keyframes fade-bottom {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) opacity 2s;
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
