#top-articles-container {
  width: 100%;
}

.top-articles-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.top-articles-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 100%;
}
.top-article-item {
  width: 100%;
  margin: auto;
  position: relative;
  margin: auto;
}
.top-article-item img {
  width: 100%;
  display: block;
  position: relative;
}

.top-article-item-info {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding-bottom: 8.533333333333333%;
  margin: auto;
}
.top-article-item-title-1 {
  margin: auto;
  margin-top: 179px;
  width: 233px;
}
.top-article-item-title-2 {
  margin: auto;
  margin-top: 455px;
  width: 181px;
}
.top-article-item-title-3 {
  margin-left: 88px;
  margin-top: 439px;
  width: 210px;
}
.top-article-item-title-4 {
  margin: auto;
  margin-top: 70px;
  width: 146px;
}

.top-article-item-title-5 {
  margin-left: 70px;
  margin-top: 279px;
  width: 248px;
}
.top-article-item-title-6 {
  margin: auto;
  margin-top: 94px;
  width: 238px;
}
.top-article-item-title-7 {
  margin: auto;
  margin-top: 404px;
  width: 202.23px;
}
.top-article-item-title-8 {
  margin: auto;
  margin-top: 229px;
  width: 142px;
}
.top-article-item-title-9 {
  margin: auto;
  margin-top: 411px;
  width: 288px;
}

.top-article-item-title img {
  margin: auto;
}

.top-article-item-info-readmore {
  bottom: 0;
  padding-bottom: 24px;
  width: 100%;
  position: absolute;
  text-align: center;
  color: white;

}
.top-article-item-info-readmore img {
  margin: auto;
  width: 78px;
}
.top-article-item-info-lg-styler-text {
  font: normal normal normal 15px/18px Optima;
  letter-spacing: 0.6px;
  margin-bottom: 6px;
}
.top-article-item-info-readmore-text {
   font: normal normal bold 13px/15px Optima;
  text-decoration: underline;
  letter-spacing: 0.52px;
}


@media (min-width: 768px) {
  .top-articles-container {
    margin-top: 50px;
  }
  .top-articles-column {
    flex: 33%;
  }
}