#top-articles-container {
  width: 100%;
  overflow: hidden;
}

.top-articles-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.top-articles-column-full {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 100%;
}
.top-articles-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 50%;
}
.top-article-item {
  width: 100%;
  margin: auto;
  position: relative;
  margin: auto;
}
.top-article-item img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.top-article-item-info {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}
.top-article-item-title-peek-a-boo {
  margin: auto;
  position: relative;
  top: 13.33%;
  width: 100%;
  height: 18.743169398907103%;
}
.top-article-item-title-sososo {
  margin: auto;
  position: relative;
  top: 58%;
  width: 100%;
  height: 27.759562841530055%;
}
.top-article-item-title-juri-nakagawa {
  margin: auto;
  position: relative;
  top: 15.8%;
  width: 100%;
  height: 14.535519125683061%;
}
.top-article-item-title-takashi-kumagai {
  width: 100%;
  height: 13.934426229508196%;
  margin: auto;
  position: relative;
  top: 20.8%;
}
.top-article-item-title-naoko-kuroishi {
  margin: auto;
  position: relative;
  top: 19.6%;
  width: 65%;
  height: 17.595628415300546%;
}
.top-article-item-title-dori-sakurada {
  margin: auto;
  position: relative;
  top: 58%;
  width: 50%;
  height: 20.163934426229506%;
}
.top-article-item-title-taisuke-nakamuro {
  margin: auto;
  margin-left: 69.6%;
  position: relative;
  width: 18.67%;
  height: 44.48087431693989%;
  top: 34.6%;
}
.top-article-item-title-shellen {
  margin: auto;
  position: relative;
  width: 62.04%;
  height: 11.584699453551913%;
  top: 53.72%;
}
.top-article-item-title-shiho {
  margin: auto;
  position: relative;
  width: 68.36%;
  height: 12.459016393442624%;
  top: 58.36%;
}
.top-article-item-title-taisei-kanayama {
  margin: auto;
  position: relative;
  width: 66%;
  height: 10.273224043715846%;
  top: 72%;
}
.top-article-item-title-ushigoro {
  margin: auto;
  position: relative;
  width: 66%;
  height: 24.69945355191257%;
  top: 9.6%;
}
.top-article-item-title-arata-kobayashi {
  position: relative;
  width: 69.3%;
  height: 69.4535519125683%;
  margin-left: 20.7%;
  top: 14.2%;
}
.top-article-item-title-ai-tominaga {
  position: relative;
  width: 7.2%;
  height: 44.53552%;
  margin-left: 79.8%;
  top: 22.73%;
}
.top-article-item-title-sennosuke-kataoka {
  position: relative;
  width: 70%;
  height: 14.262295%;
  margin: auto;
  top: 56%;
}

.top-article-item-title img {
  margin: auto;
}

.top-article-item-info-readmore {
  bottom: 0;
  padding-bottom: 24px;
  width: 100%;
  position: absolute;
  text-align: center;
  color: white;
}
.top-article-item-info-readmore img {
  margin: auto;
  width: 18.23%;
}
.top-article-item-info-lg-styler-text {
  font: normal normal normal 15px/18px Optima;
  letter-spacing: 0.6px;
  margin-bottom: 6px;
}
.top-article-item-info-readmore-text {
  font: normal normal bold 13px/15px Optima;
  text-decoration: underline;
  letter-spacing: 0.52px;
}

@media (min-width: 768px) {
  .top-articles-container {
    margin-top: 50px;
  }
  .top-articles-column-full {
    flex: 33%;
  }
  .top-articles-column {
    flex: 33%;
  }
}
