#top-page-footer {
  padding-top: 101px;
  padding-bottom: 80px;
  width: 274px;
  margin: auto;
}
.top-page-footer-goto-top {
  padding-top: 56px;
  text-align: center;
  margin: auto;
  font-size: 47px;
}
.top-page-footer-goto-top a {
  color: inherit;
  text-decoration: none;
}

.top-page-footer-copyright {
  padding-top: 36px;
  text-align: center;
  margin: auto;
  font-size: 13px;
  color: #dedbd1;
}
.top-page-footer-copyright a {
  color: inherit;
  text-decoration: underline;
}
