html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Optima", sans-serif;
}

.top-page-wrapper {
  margin: auto;
}

.top-bar {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 67px;
  display: block;
}
.top-bar-styler-logo {
  width: 122px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 47px;
}
.top-bar-insta {
  position: absolute;
  right: 25.73px;
  top: 29.97px;
}
.top-bar-insta img {
  width: 26.18px;
  height: 26.18px;
}

.top-articles-container {
  width: 100%;
}

.top-articles-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.top-articles-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 100%;
}
.top-article-item {
  width: 100%;
  margin: auto;
  position: relative;
  margin: auto;
}
.top-article-item img {
  width: 100%;
  display: block;
  position: relative;
}

.top-article-item-info {
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0;
  padding-bottom: 8.533333333333333%;
  margin: auto;
}
.top-article-item-title img {
  margin: auto;
}

.top-article-item-info-readmore {
  bottom: 0;
  padding-bottom: 4%;
  width: 100%;
  position: absolute;
}
.top-article-item-info-readmore img {
  margin: auto;
  width: 35%;
}

.top-page-footer {
  padding-top: 101px;
  padding-bottom: 80px;
  width: 274px;
  margin: auto;
}
.top-page-footer-start-styler {
  border: 1px solid;
  text-align: center;
  margin: auto;
  padding: 10px;
}
.top-page-footer-goto-top {
  padding-top: 56px;
  text-align: center;
  margin: auto;
  font-size: 47px;
}
.top-page-footer-goto-top a {
  color: inherit;
  text-decoration: none;
}

.top-page-footer-copyright {
  padding-top: 36px;
  text-align: center;
  margin: auto;
  font-size: 13px;
  color: #dedbd1;
}

@media (min-width: 768px) {
  .top-page-wrapper {
    max-width: 1028px;
    padding-top: 60px;
    padding: 30px;
  }
  .top-bar {
    max-width: 1028px;
    margin-top: -25px;
  }
  .top-bar {
    z-index: -5;
  }
  .top-articles-container {
    margin-top: 50px;
  }
  .top-articles-column {
    flex: 33%;
  }
}
