body {
  background-color: #DEDBD1;
}

.article-title-image img {
  width: 100%;
}

.article-image {
  margin-top: 14.5px;
}

.article-text {
  margin-top: 14.5px;
}

.article-profile-container {
  margin-top: 100px;
}

.article-profile-text {
  margin-top: 85px;
}


.profile-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.profile-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 50%;
}


@media (min-width: 768px) {
 .article-profile-text {
    width: 85%;
 }
}