body {
  background-color: #DEDBD1;
}

.article-title-image img {
  width: 100%;
}

.article-lead-text-container {
  margin-top: 60.53px;
}

.article-text {
 margin-top: 24.5px;
}
.article-image {
  margin-top: 24.5px;
}
.article-image-after-image {
  margin-top: 30px;
}
.article-profile-url {
  text-align: left;
  width: 100%;
  font-family: "Optima", sans-serif;
}